*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bak
*.ba2
*.bim.layout
*.bim_*.settings
*.build.csdef
*.Cache
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dll
*.dotCover
*.DotSettings.user
*.exe
*.exp
*.gpState
*.idb
*.ide/
*.ilk
*.ldf
*.lib
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.psess
*.publishsettings
*.rdl.data
*.res
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tlog/
*.tmp
*.tmp_proj
*.user
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.builds
.JustCode
.sass-cache/
[Bb]uild[Ll]og.*
[Dd]ebug/
Debug_NET/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Oo]bj/
[Rr]elease/
Release_NET/
[Rr]eleasePS/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions/
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
~$*
AppPackages/
AutoTest.Net/
Backup*/
bld/
build/
ClientBin/
CMISServerMsgs.h
CMISServerMsgs.rc
csx/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
FacilityController.hm
FakesAssemblies/
Generated_Code/
GeneratedArtifacts/
ipch/
ModelManifest.xml
NETRelease/
node_modules/
packages/*
publish/
sql/
TestResult.xml
unsuccessfulbuild
UpgradeLog*.htm
UpgradeLog*.XML
x64/
MSG00001.bin
CMISServerMsgs.*
FacilityController.hm
db_val.txt
cmis.ini
cmis_w.ini
cmis_trn.ini